* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.todo-list {
    list-style: none;
    padding-left: 0;
    padding: 1rem;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.done div {
    text-decoration: line-through;
}

aside {
    text-decoration: none;
}